.buttonText {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: white;
  font-family: "Hagin Caps Medium", Sans-serif;
}

.button {
  cursor: pointer;
  background-color: #d9aa69;
  border-style: solid;
  border-width: 0 0 4px 0;
  border-color: #8c6140;
  background-image: linear-gradient(
    to right,
    #dbaa68 0%,
    #b47952 100%
  ) !important;
  border-radius: 6px;
  overflow: hidden;
  padding: 16px 32px;
}

.button:hover {
  background-color: #8c6140;
  border-color: #8c6140;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
