.buttonText {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: white;
}

.buttonTextSmall {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: white;
}

.button {
  cursor: pointer;
  background-color: #d9aa69;
  border-style: solid;
  border-width: 0 0 6px 0;
  border-color: #993c01;
  background-image: linear-gradient(
    to right,
    #ff690c 0%,
    #f98136 100%
  ) !important;
  border-radius: 50px;
  overflow: hidden;
  padding: 10px 20px;
  transition: all 500ms ease-in-out;
}

.buttonSmall {
  border: none;
  width: 100%;
  cursor: pointer;
  border-color: #993c01;
  background-image: linear-gradient(
    to right,
    #ff690c 0%,
    #f98136 100%
  ) !important;
  overflow: hidden;
  padding: 16px;
}

.button:hover,
.buttonSmall:hover {
  border-color: #006bad !important;
  background-color: #006bad !important;
  background-image: linear-gradient(
    to right,
    #008ce4 0%,
    #32affd 100%
  ) !important;
}

.buttonWrapper {

}
