.backtop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  background-color: #fff;
  border-radius: 6px;
  width: 90vw;
  transition: all 300ms ease-in-out;
  overflow: auto;
  max-height: 90vh;
}

.content {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-top: 16px;

}

.hidden {
  display: none;
}

.closeButton {
  position: absolute;
  height: 32px;
  right: 0;
  top: 0;
  border-radius: 5px;
  background-color: rgba(221, 153, 51, 1);
}

.background {
  z-index: 600;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 840px) {
  .backtop {
    width: 800px;
  }
}
